<% content_for :head do %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<% end %>
<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <nav role="navigation">
       <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="/">Home</a>
          </li>
          <li class="active">
            <a href="">Search</a>
          </li>
          <li>
            <a href="/view_classes">My Courses</a>
          </li>
          <li>
            <a href="/logout">Logout</a>
          </li>
          <li>
            <a class="facebook" target="_blank" onclick="return !window.open(this.href, 'Facebook', 'width=626,height=436')" href="http://www.facebook.com/sharer/sharer.php?u=http://upenn-classes.herokuapp.com/">Share this Tool!</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<div class="container-fluid" align="center">
	<div class="search-box">
		Search for a Class
		<br><br>
		<%= form_tag create_search_path do |f| %>
			<%= text_field_tag "search", nil, :placeholder => "ex: ANTH003001" %>
			<div class="sub-text">
				Please enter the course name and section number, no spaces (note: engineering courses may not show up, sorry).
			</div>
			<%= submit_tag "Search >>", :class => "submit" %>
			<div class="sub-sub-text">
				The search might take a few seconds, so sit back, relax, and don't keep clicking on the search button like a maniac!
			</div>
		<% end %>
	</div>
</div>