<% content_for :head do %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<% end %>
<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <nav role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="<%=user_path(current_user)%>">Search</a>
        </li>
        <li>
          <a href="/view_classes">My Courses</a>
        </li>
        <li>
          <a href="/logout">Logout</a>
        </li>
        <li>
          <a class="facebook" target="_blank" onclick="return !window.open(this.href, 'Facebook', 'width=626,height=436')" href="http://www.facebook.com/sharer/sharer.php?u=http://upenn-classes.herokuapp.com/">Share this Tool!</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div class="container" align="center">
  <% if @results != [] %>
		<% @results.each_slice(4) do |r| %>
		<div class="row">
			<% r.each do |c| %>
				<div class="col-lg-3">
					<%= c.name %>
					<br>
					<img src="<%=c.image_url%>">
				</div>
			<% end %>
		</div>
		<% end %>
  <% else %>
    <div class="sub-text">
      Something went wrong! Either your course name was incorrect or the search took too long. Feel free to try again!
    </div>
  <% end %>
</div>
