<% content_for :head do %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<% end %>
<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <nav role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="<%=user_path(current_user)%>">Search</a>
        </li>
        <li class="active">
          <a href="/view_classes">My Courses</a>
        </li>
        <li>
          <a href="/logout">Logout</a>
        </li>
        <li>
          <a class="facebook" target="_blank" onclick="return !window.open(this.href, 'Facebook', 'width=626,height=436')" href="http://www.facebook.com/sharer/sharer.php?u=http://upenn-classes.herokuapp.com/">Share this Tool!</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div class="container-fluid" align="center">
  <% if @results != [] && @classes != [] && @classes != nil %>
    <% @classes.each do |c| %>
      <div class="row-fluid" align="center">
        <a href="/results/<%=c%>">
          <div class="class-box">
            <%= c %>
          </div>
        </a>
      </div>
    <% end %>
  <% else %>
    <div class="sub-text">
        Silly you  - you haven't searched for any classes. Click search on the menu bar!
    </div>
  <% end %>
</div>