// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.search-box{
	width: 100%;
	max-width: 650px;
	background: #EEEEEE;
	color: #313131;
	font-family: 'Open Sans';
	font-weight: bold;
	font-size: 25px;
	padding: 30px;
	line-height: 28px;
	margin-top: 100px;
}

input{
	height: 35px !important;
	width: 100%;
	max-width: 200px;
	border-radius: 0px !important;
	font-size: 12px !important;
}

.sub-text{
	color: #313131;
	font-family: 'Open Sans';
	font-weight: bold;
	font-size: 15px;
	line-height: 18px;
	padding: 20px 0px;
}

.sub-sub-text{
	color: #313131;
	font-family: 'Open Sans';
	font-weight: normal;
	font-style: italic;
	padding: 20px 0px 0px 0px;
	font-size: 15px;
	line-height: 18px;
}

.submit{
	background: #27AE60;
	font-family: 'Open Sans';
	padding: 0px !important;
	border-radius: 0px;
	border: none;
	box-shadow: none;
	font-weight: bold;
	width: 80% !important;
	max-width: 190px;
	font-size: 18px;
	color: white;
	cursor: pointer;
}

.submit:hover{
	background: #2ECC71;
}

.class-box{
	background: #F6F6F6;
	box-shadow: 0px 0px 2px #CCC;
	text-align: center;
	width: 90%;
	max-width: 400px;
	padding: 80px 20px;
	color: #313131;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 25px;
}

.class-box:hover{
	background: #EEEEEE;
	cursor: pointer;
	box-shadow: 0px 0px 5px #CCC;
}